@import url('https://fonts.googleapis.com/css2?family=Braah+One&family=Outfit:wght@100..900&display=swap');

body{
    margin: 0;
    background: url(/backGround/backgroundPastel.jpg);
}


h1{
    font-family: "Braah One", serif;
}

header{

    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 1fr 0.5fr;
    background: #e7d9f2;
    box-shadow: 0px 8px 12px rgb(239, 239, 239);
    color: rgba(243, 243, 243, 0.876);
    font-family: "Outfit", serif;

}



.bigBrain{
    grid-row: 1/span 2;
    height: 110px;
}

.svgUtilisateur{
    height: 45px;
    transform: translateX(25px);

}

.divUtilisateur{
    justify-self: end;
    display: flex;
    align-items: center;
    padding: 0;
    color: black;
    margin-right: 25px;
    h4{
        letter-spacing: 1px;
        transform: translateY(5px);
    }
    p{
        font-family: 'Courier New', Courier, monospace;
        font-size: small;
        transform: translateY(-16px);
    }
}


ul{
    padding: 0;
}
.contenaire{
    display:flex;
    justify-content: space-between;
    margin-right: 50px;
    align-items: flex-end;
    margin-bottom: 5px;

}

.navHeader{
    display: flex;
    font-size: 1.4em;
    text-decoration: none;
    color: rgb(21, 21, 21);
    
}
.nav:hover{
    background: #e1c1fa;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    transition: 0.6s;
    
}

#accueil{

    list-style-type:none;
}

#classement{

    list-style-type:none;

}

#contact{

    list-style-type:none;

}
#connexion{

    list-style-type:none;
}





h1 {
    margin-bottom: 30px;
    border: solid 4px rgba(194, 133, 209, 0.212);
    border-radius: 20px;
    padding: 5px;
}

fieldset{
    text-align: center;
    font-family: "Outfit", serif;

}

.form-container {
    border: solid 3px rgba(194, 133, 209, 0.212);
    width: 48%;
    align-self: center;
    justify-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    margin: 2% 10%;
    background-color:rgba(240, 222, 255, 0.786) ;
}

.form{
    width: 100%;
    align-self: center;
    justify-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    input{
        width: 40%;
        max-width: 250px;
        margin-top: 5px;
        height: 30px;
        margin-bottom: 24px;
        border: 0;
        height: 30px;
        border-radius: 6px;
        background: rgb(255, 255, 255);
        border-bottom:0.5px solid rgba(226, 146, 248, 0.719);
        border-top:0.5px solid rgba(226, 146, 248, 0.719);
        border-right:0.5px solid rgba(226, 146, 248, 0.719);
        border-left:0.5px solid rgba(226, 146, 248, 0.719);

        color: black;


    }
    label{
        margin-top: 18px;
    }

}

input:hover {
    scale: 1.1;
    box-shadow: 1px 1px 1px;
}

input::placeholder {
    padding-left: 8px;
}
#message{
    border-bottom:0.5px solid rgba(226, 146, 248, 0.719);
    border-top:0.5px solid rgba(226, 146, 248, 0.719);
    border-right:0.5px solid rgba(226, 146, 248, 0.719);
    border-left:0.5px solid rgba(226, 146, 248, 0.719);
    border-radius: 6px;
}
#btnSubCont{
    margin-top: 15px;
}
#btnSubCont{
    border-radius: 10px;
    height: 45px;
    width: 100px;
    background-color: #3E0D8B;
    color: white;
    font-family: "Outfit", serif;
}

#btnSubCont:hover {
    scale: 1.1;
    cursor: pointer;
}

footer{
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    width: 100%;
    /* bottom: 0; */
    /* border-top: 1px solid #ae45ff; */
    background-color: #e7d9f2;
    box-shadow: 0px 12px 16px rgba(182, 17, 17, 0.978);
}

.logo{
    grid-column: 1;
    height: 70px;
    margin-left: 10px;
    justify-self: flex-start;
}

.navFooter{
    grid-column: 2;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-self: center;
    align-self: center;
    text-align: center;
    justify-content: space-between;
    li{
        list-style-type: none;
        a{
            text-decoration: none;
            color: black;

        }
    }
    p{
        margin-top: 0;
    }
}
.ulFooter{
    display: flex;
    justify-content: space-between;

}